.rectangle {
    background-color: #dcdce9;
    height: 100vh;
}

.homediv {
    width: 80%;
    padding-top: 5%;
    margin-left: 17.5%;
    /*margin: 0 auto;*/
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

